<html>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        td {border:1px solid #333; text-align: center;}
        th {border:1px solid #333; text-align: center;}
        .center {
            display: block;
            margin-left: auto;
            margin-right:auto;
        }
    </style>

<h1> You've connected to Coretek's Azure FrontDoor Demo in the <em>"East US"</em> region!</h1>
<h3> You must want weather data from Coretek HQ!</h3>
<img src="https://chambermaster.blob.core.windows.net/images/customers/9471/members/7872/photos/GALLERY_MAIN/Coretekbuildingcitrixinnovationvideo.png" alt="Coretek HQ" width="900" height="345" class="center">

<table style="width:100%">
    <!-- Represents the days-->
    <tr>
        <th>{{day1name}}</th>
        <th>{{day2name}}</th>
        <th>{{day3name}}</th>
        <th>{{day4name}}</th>
        <th>{{day5name}}</th>
    </tr>
    <!-- Represents the Temperature-->
    <tr>
        <td>{{day1temp}}</td>
        <td>{{day2temp}}</td>
        <td>{{day3temp}}</td>
        <td>{{day4temp}}</td>
        <td>{{day5temp}}</td>
    </tr>
    <!-- Represents the shortForcast -->
    <tr>
        <td>{{day1cast}}</td>
        <td>{{day2cast}}</td>
        <td>{{day3cast}}</td>
        <td>{{day4cast}}</td>
        <td>{{day5cast}}</td>
    </tr>
</table>

<img src="https://d1hbpr09pwz0sk.cloudfront.net/profile_pic/richard-sedlak-f3273b07.jpg" alt="Cloudfather" width="400" height="345" class="center">

<h3>Try shutting down <em>this</em> web app and see what happens!</h3>

</html>